In [2]:
n = int(input('enter a number of rows:'))
for i in range(1,n+1):
    print('*'*n)

enter a number of rows:5
*****
*****
*****
*****
*****

In [3]:
n = int(input('enter a number of rows:'))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(i,end = '')
    print()

enter a number of rows:6
111111
222222
333333
444444
555555
666666

In [8]:
n = int(input('enter the number of rows: '))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(n+1-i,end = ' ')
    print()

enter the number of rows: 4
4 4 4 4
3 3 3 3
2 2 2 2
1 1 1 1

In [4]:

# datatime formating 
import datetime
date = datetime.datetime.now()
print("it's now :{:%d/%m/%y %H:%M:%S}".format(date))

it's now :28/02/23 22:09:20

In [11]:
n = int(input('enter the number of rows: '))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(chr(64+i),end = ' ')
    print()

enter the number of rows: 5
A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [10]:
n = int(input('enter the number of rows: '))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(chr(65+n-i),end = ' ')
    print()

enter the number of rows: 5
E E E E E
D D D D D
C C C C C
B B B B B
A A A A A

In [18]:
n = int(input('enter the number of rows: '))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(65+n-i),end = ' ')
    print()

enter the number of rows: 6
F
E E
D D D
C C C C
B B B B B
A A A A A A

In [21]:
n = int(input('enter the number of rows: '))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(64+j),end = ' ')
    print()

enter the number of rows: 6
A
A B
A B C
A B C D
A B C D E
A B C D E F

In [26]:
n = int(input('enter the number of rows: '))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(chr(64+j),end = ' ')
    print()

enter the number of rows: 6
A B C D E F
A B C D E
A B C D
A B C
A B
A

In [6]:
n = int(input('enter the number of rows: '))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(j,end = ' ')
    print()

enter the number of rows: 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [9]:
n = int(input('enter the number of rows: '))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(n+1-j,end = ' ')
    print()

enter the number of rows: 5
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [12]:
n = int(input('enter the number of rows: '))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(chr(64+j),end = ' ')
    print()

enter the number of rows: 6
A B C D E F
A B C D E F
A B C D E F
A B C D E F
A B C D E F
A B C D E F

In [14]:
n = int(input('enter the number of rows: '))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(chr(65+n-j),end = ' ')
    print()

enter the number of rows: 6
F E D C B A
F E D C B A
F E D C B A
F E D C B A
F E D C B A
F E D C B A

In [15]:
n = int(input('enter the number of rows: '))
for i in range(1,n+1):
    for j in range(1,i+1):
        print('*',end = ' ')
    print()

enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *

In [16]:
#   OR
n = int(input('enter the number of rows: '))
for i in range(1,n+1):
    print('*'*i)

enter the number of rows: 6
*
**
***
****
*****
******

In [17]:
n = int(input('enter the number of rows: '))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end = ' ')
    print()

enter the number of rows: 6
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

In [22]:
n = int(input('enter the number of rows: '))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end = ' ')
    print()

enter the number of rows: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [23]:
n = int(input('enter the number of rows: '))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(i,end = ' ')
    print()

enter the number of rows: 8
1 1 1 1 1 1 1 1
2 2 2 2 2 2 2
3 3 3 3 3 3
4 4 4 4 4
5 5 5 5
6 6 6
7 7
8

In [25]:
n = int(input('enter the number of rows: '))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(chr(64+i),end = ' ')
    print()

enter the number of rows: 5
A A A A A
B B B B
C C C
D D
E

In [27]:
n = int(input('enter the number of rows: '))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(n+1-i,end = ' ')
        
    print()

enter the number of rows: 5
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [28]:
n = int(input('enter the number of rows: '))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(n+1-j,end = ' ')
        
    print()

enter the number of rows: 5
5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [37]:
n = int(input('enter a number:'))
for i in range(1,n+1):
    print(' '*(i-1),end = ' ')
    for j in range(1,n+2-i):
        print('*',end = '')
    for k in range(1,n+1-i):
        print('*',end = '')
    print()

enter a number:5
 *********
  *******
   *****
    ***
     *

In [43]:
# crismas tree
n = int(input('enter a number: '))
for a in range(1,n+1,2):
    for i in range(1,n+1):
        print(''*(2*n-i-a),end = '')
        for j in range(1,i+a):
            print('*',end = '')
        print()
for b in range(1,n+1):
    print(' '*(n-2),end = '')
    print('*'*3)

enter a number: 5
*
**
***
****
*****
***
****
*****
******
*******
*****
******
*******
********
*********
   ***
   ***
   ***
   ***
   ***