In [3]:
t =()
t1 = (10)
t3 = ('c',)
t2 = (10,20)

print(type(t))
print(type(t1))
print(type(t2))
print(type(t3))

<class 'tuple'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [5]:
t = tuple('shirisha')
print(t)
print(t[3])  # indexiing 3 only
print(t[1:4:1])  # indexing 1,2,3

('s', 'h', 'i', 'r', 'i', 's', 'h', 'a')
r
('h', 'i', 'r')

In [6]:
t1 = (10,20,30)
t2 = t1*3
print(t2)

(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [1]:
t = (10,20,30,40)
a,b,c,d = t
print('a = ',a,'b =',b,'c =',c,'d = ',d)

a =  10 b = 20 c = 30 d =  40

In [3]:
l = [10,20,30,40]
a,b,c,d = l
print('a = ',a,'b =',b,'c =',c,'d = ',d)

a =  10 b = 20 c = 30 d =  40

In [4]:
t = {10,20,30,40}
a,b,c,d = t
print('a = ',a,'b =',b,'c =',c,'d = ',d)

a =  40 b = 10 c = 20 d =  30

In [5]:
t = 'ABCD'
a,b,c,d = t
print('a = ',a,'b =',b,'c =',c,'d = ',d)  # unpacking is applicable for any sequence.

a =  A b = B c = C d =  D

In [8]:
## tuple comprehension is not suported in pythhon
t = (x*x for x in range(1,11))
print(t)

<generator object <genexpr> at 0x00000160B2E9E400>

In [9]:
t = [x*x for x in range(1,11)]
print(t)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
## WAP to take a tuple of no.s from keyboard and print sum ,average

t = eval(input('enter some tuple of numbers: '))
l = len(t)
sum = 0
for x in t:
    sum = sum+x
print('sum = ',sum)
print('avg =',sum/l)

enter some tuple of numbers:  (5,6,8,12,36,45)
sum =  112
avg = 18.666666666666668